@font-face {
  font-family: "DS-DIGI";
  src: url("assets/font/DS-DIGI.TTF");
}

@font-face {
  font-family: "DNFBitBitv2";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf")
    format("opentype");
}

.font-digi {
  font-family: "DS-DIGI";
}

.font-dnf {
  font-family: "DNFBitBitv2";
}

body {
  margin: 0;
}

button {
  border: 0;
  background-color: transparent;
}

video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

.container {
  max-width: 1280px;
  margin: auto;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.2);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-size: 32px;
}

.quotes {
  font-size: 32px;
}

.new-quotes {
  display: none;
}

.new-quotes > button {
  background-color: pink;
  padding: 8px 16px;
  margin-left: 8px;
  font-size: 16px;
  border-radius: 8px;
}

.new-quotes-input {
  border: 1px solid hotpink;
  padding: 4px 8px;
  font-size: 20px;
}

.new-quotes-input:focus {
  outline: 2px solid pink;
}

.nft {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nft-img {
  width: 512px;
  height: 512px;
}

nft-name {
  font-size: 48px;
  background-color: rgb(222, 197, 201, 0.5);
  padding: 8px 16px;
}

.nft-desc {
  font-size: 24px;
  padding: 8px 16px;
}
